* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

input {
    max-width: 200px;
}

.footer {
    border-top: solid 1px #000;
    text-align: center;
}

footer a {
    color: #000000;
}

body {
    max-width: 100vw;
    text-align: center;
}

.container {
    padding: 20px;
    min-height: calc(100vh - 25px);
}

.btn {
    margin: 5px;
}